# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# Data files
data/raw/*.csv
data/processed/*.csv
data/raw/*.xlsx
data/processed/*.xlsx
data/Raw/*.csv
data/Processed/*.csv
data/Raw/*.xlsx
data/Processed/*.xlsx

# OS files
.DS_Store
Thumbs.db
